/* Card Styling */
.card-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 40px;
}

.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 10px;
}

.card img {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card img:hover {
    opacity: 0.7;
}

.card-body {
    text-align: center;
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* Fullscreen-Header mit Hintergrundbild */
.hero {
    width: 100%;
    height: auto;
    background: url('startbild.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero h2 {
    font-size: 1.8rem;
}

/* Header Styling */
.hero .header {
    margin-top: 20%;
    z-index: 1;
    width: 100%;
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(135deg, #198754, #28a745);
    color: white;
}


/* Navbar Styling */
.navbar {
    background-color: #198754; /* Dunkles Grün */
    padding: 10px 20px;
}

.navbar-brand img {
    height: 50px;
}

.btn-group {
    margin-left: 10px;
    position: relative;
}

.btn-group .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 180px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.btn-group:hover .dropdown-menu {
    display: block;
}

/* Header Styling */
.header {
    text-align: center;
    padding: 40px 20px;
    background: linear-gradient(135deg, #198754, #28a745);
    color: white;
}

/* Content Styling */
.content {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #198754;
    margin-bottom: 20px;
}

.price-table {
    width: 100%;
    margin-top: 20px;
}

.price-table th, .price-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.price-table th {
    background: #198754;
    color: white;
}